@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: none;
  padding: none;
  box-sizing: border-box;
}

.button-gradient {
  background: linear-gradient(94.2deg, #0081F9 -0.28%, #C76AF2 105.06%);
}

.bg-gradient {
  background: linear-gradient(109.84deg, rgba(0, 129, 249, 0.25) 0%, rgba(94, 0, 249, 0.3) 100%);
}

/* Animations */
.sidebar {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
      -webkit-transform: translateY(-200px);
      transform: translateY(-200px);
  }
  100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
  }
}

@keyframes slide-bottom {
  0% {
      -webkit-transform: translateY(-200px);
      transform: translateY(-200px);
  }
  100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
  }
}